<% layout('layouts/boilerplate')%> <%- include('../partials/header')%>
<link rel="stylesheet" href="/css/style.css" />
<div style="margin-top: 100px">
  <h1>All Appointments</h1>
  <table>
    <tr>
      <th>Appointment Section</th>
      <th>Doctor</th>
      <th>Date</th>
      <th style="text-align: center">Status</th>
    </tr>
    <% for (let i = 0; i < user.appointments.length; i++){%>
    <tr>
      <% if(user.appointments[i].appointmentCondition === true){ %>
      <td><%= user.appointments[i].appointmentSection %></td>
      <td><%= user.appointments[i].appointmentDoctor %></td>
      <td>
        <%= user.appointments[i].appointmentDate %> -
        <b><%= user.appointments[i].appointmentTime %></b>
      </td>
      <td style="display: flex; justify-content: flex-end">
        <span style="position: absolute; right: 15%; font-weight: 700"
          >Active</span
        >
        <form
          action="/users/<%=user._id%>/<%=user.appointments[i]._id%>?_method=PUT"
          method="POST"
        >
          <button style="font-size: 13px" class="btn btn-warning">
            Cancel
          </button>
        </form>
        <% } %>
      </td>
    </tr>
    <% }%>
  </table>
</div>
